@model FlightScoreboard.Services.Models.AirlineModel
@{
    ViewData["Title"] = "Добавить авиакомпанию ";
}


<div>
    <h3>Форма добавления авиакомпании</h3>
    <p>Для оформления авиакомпании заполните следующее поле:</p>
    <form method="post">
        <table>
            <tr>
                <td>Наименование:</td>
                <td>

                    <input type="text" name="Name"/>
                </td>

            </tr>
            <tr>
                <td>
                    <input type="submit" value="Добавить"/>
                </td><td></td>
            </tr>
        </table>
    </form>

</div>