@model List<FlightScoreboard.Services.Models.AirlineModel>  

@{
    ViewData["Title"] = "Список авиакомпаний";
}
<div>

    @if (Model.Count > 0)
    {
        <h3>Список авиакомпаний:</h3>
        <table>
            <tr>
                <td> Название </td>
            </tr>
            @foreach (var airline in Model)
            {
                <tr>
                    <td>@airline.Name </td>
                    <td>
                        <a class="nav-link text-dark" asp-area="" asp-controller="AirlineAirplane" asp-action="Index" asp-route-airlineId="@airline.Id">Показать самолеты авиакомпании</a>
                    </td>
                    <td>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Airline" asp-action="Delete" asp-route-id="@airline.Id">Удалить</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <td>Aвиакомпаний отсутствуют</td>
    }
    <a class="nav-link text-dark" asp-area="" asp-controller="Airline" asp-action="Create">Добавить авиакомпанию</a>
</div>