@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AirlineAirplaneCreateModelGet

@{
	ViewData["Title"] = "Добавить самолет ";
}


<div>
	<h3>Форма добавления самолета</h3>
	<p>Для оформления самолет заполните следующие поля:</p>
	<form method="post">
		<input type="hidden" name="AirlineId" value="@Model.AirlineId"/>
		<table>
			<tr>
				<td>Серийный номер:</td>
				<td>
					<input type="number" name="SerialNumber" maxlength="10"/>
				</td>
			</tr>
			<tr>
				<td>Модель:</td>
				<td>
					<select id="AirplaneId" name="AirplaneId">
						@foreach (var airplane in Model.Airplanes)
						{
							<option value="@airplane.Id">@airplane.Model</option>
						}
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Добавить"/>
				</td><td></td>
			</tr>
		</table>
	</form>

</div>