@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FlightScoreboardData.Services.Models.CityCreateModel

@{
	ViewData["Title"] = "Добавить город ";
}

<div>
	<h3>Форма добавления города</h3>
	<p>Для добавления города заполните следующее поле:</p>
	<form method="post">
		<table>
			<tr>
			<td>Название:</td>
			<td>

				<input type="text" name="Name"/>
			</td>
			<tr>
				<td>
					<input type="submit" value="Добавить"/>
				</td><td></td>
			</tr>
		</table>
	</form>

</div>