@model PilotCreateModelGet

@{
    ViewData["Title"] = "Добавить пилота ";
}


<div>
    <h3>Форма добавления пилота</h3>
    <p>Для оформления пилота заполните следующие поля:</p>
    <form method="post">
        <table>
            <tr>
                <td>Имя:</td>
                <td>

                    <input type="text" name="Name"/>
                </td>
            </tr>
            <tr>
                <td>Фамилия:</td>
                <td>

                    <input type="text" name="SurName"/>
                </td>
            </tr>
            <tr>
                <td>Возраст:</td>
                <td>

                    <input type="text" name="Age" maxlength="3"/>
                </td>
            </tr>
            <tr>
                <td>Авиакомпания:</td>
                <td>
                    <select id="AirlineId" name="AirlineId">
                        @foreach (var airline in Model.Airlines)
                        {
                            <option value="@airline.Id">@airline.Name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Добавить"/>
                </td><td></td>
            </tr>
        </table>
    </form>

</div>